* {
  box-sizing: border-box;
}

.battary-stage-list {
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.first {
  font-size: 16px;
}

.second {
  font-size: 32px;
}

.third {
  font-size: 64px;
}

.fourth {
  font-size: 128px;
}

.fifth {
  font-size: 256px;
}
