main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.article {
  box-sizing: border-box;
  flex-basis: 300px;
  background-color: bisque;
  margin: 8px;
  padding: 16px;
  flex-grow: 1;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}
